<script lang="ts">
import { defineComponent } from "vue";
import { useCounterStore } from '@/stores/counter';
export default defineComponent({
  name: "Asad",
      data(){
      return {
          count:1,
          counter : useCounterStore()
      }
  },
  computed: {
  },
   mounted(){
          this.counter.counter= 45;
      }

})
</script>
<template>
  <div class="item">
    {{count}} <br>
    {{counter.counter}}
  </div>
</template>

